spring:
  application:
    name: n8n-borisevich-test

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
    jmx:
      exposure:
        include: health,info,metrics
  endpoint:
    prometheus:
      enabled: true
    health:
      show-details: when-authorized
      show-components: when-authorized
    info:
      enabled: true
  metrics:
    tags:
      application: ${spring.application.name}
